@import 'fonts.css';

@import 'material-symbols';
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

body {
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 1.6;
}
html {
    /* Configuramos para que no haya el espacio en blanco
    cuando se scrollea hacia arriba  */
    overscroll-behavior: none;
}

.icon-sm {
    font-size: 1rem;
}

.icom-md {
    font-size: 1.5rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
