@import '@fontsource/inter/300.css';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';

@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/700.css';

@import '@fontsource/open-sans/400.css';

@import 'material-icons/iconfont/material-icons.css';


